<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/creativetimofficial/tailwind-starter-kit/tailwind.css">
    <title>Document</title>
  </head>
  <body class="bg-gray-800 text-gray-100 px-8 py-12">
    <%- include("../partials/header") -%>

    <div  class="max-w-screen-xl mt-24 px-8 grid gap-8 grid-cols-1 h-72 md:grid-cols-2 md:px-12 lg:px-16 xl:px-32 py-16 mx-auto bg-blue-100 text-gray-900 rounded-lg shadow-lg">
      <div class="text-center uppercase text-4xl font-mono">who we  are  :</div>
      <div class="text-left font-serif text-2x1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam pariatur tempora enim quae esse error, accusamus impedit, aliquid id laborum, voluptate doloremque distinctio! Ipsa esse eligendi dolorem cum veritatis quisquam! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe totam a eos dolores amet commodi, corrupti repudiandae <br> perferendis vitae earum facilis? Exercitationem quas modi libero voluptatem eligendi id impedit reprehenderit!</div>
    </div>
  
  </body>
</html>
